<template>
  <div>
    <div class="reload-button-container">
      <button class="reload-button" v-on:click="getNewTalk">New Talk</button>
    </div>
    <div class='ps-1 q-pt-md'>
      <h1 class="q-mt-none">Random Talk</h1>
      <p v-if="!randomTalk && !responseError">Getting random talk...</p>
      <p v-if='responseError'>Error getting talk: {{responseError.message}}</p>
      <div v-if="randomTalk">
        <h2>{{randomTalk.title}}</h2>
        <h3>Audio</h3>
        <audio v-if="randomTalk.audio" controls :src="randomTalk.mp3">
          <source v-if="randomTalk.audio.mp3"
            :src="randomTalk.audio.mp3.recording_url"
            :type="randomTalk.audio.mp3.mime_type">
          <source v-if="randomTalk.audio.opus"
            :src="randomTalk.audio.opus.recording_url"
            :type="randomTalk.audio.opus.mime_type">
          Sorry, your browser doesn't support embedded audio.
        </audio>
        <p v-if="!randomTalk.audio"><em>No audio</em></p>
        <h3>Video</h3>
        <video controls v-if="randomTalk.video">
          <source v-if='randomTalk.video.webm'
            :src='randomTalk.video.webm.recording_url' type="video/webm">
          <source v-if='randomTalk.video.mp4'
            :src='randomTalk.video.mp4.recording_url' type='video/mp4'>
          Sorry, your browser doesn't support embedded videos.
        </video>
        <p v-if="!randomTalk.video"><em>No video</em></p>
        <h3>Description</h3>
        <p v-if="!randomTalk.description"><em>No description</em></p>
        <p v-if="randomTalk.description" class="pre-wrap">{{
          randomTalk.description
        }}</p>
        <h3>Other details</h3>
        <table class="info-table q-mb-lg">
          <tr>
            <th class="text-left">Conference</th>
            <td>{{randomConference.title}}</td>
          </tr>
          <tr>
            <th class="text-left">Released</th>
            <td>{{(new Date(randomTalk.date)).toLocaleDateString()}}</td>
          </tr>
        </table>
        <h4>About the Random Talk Space project</h4>
        <p>
          This project allows for completely random exploration of the
          media.ccc.de content library by using the same API but completely
          randomly.
        </p>
        <p>Source code is on <a
          href="https://gitlab.com/rtsdev/random-talk-space">GitLab</a>.</p>
      </div>
    </div>
  </div>
</template>

<style>
</style>

<script>
import axios from 'axios'

const storage = window.localStorage

export default {
  name: 'PageIndex',
  data () {
    const conferencesInStorage = storage.getItem('conferences')
    const conferences = conferencesInStorage && JSON.parse(conferencesInStorage).data
    const randomTalkInStorage = storage.getItem('randomTalk')
    const randomTalk = randomTalkInStorage && JSON.parse(randomTalkInStorage).data
    const randomConferenceInStorage = storage.getItem('randomConference')
    const randomConference = randomConferenceInStorage && JSON.parse(randomConferenceInStorage).data
    return {
      conferences,
      randomTalk,
      randomConference,
      responseError: null
    }
  },
  mounted () {
    if (!this.randomTalk) {
      this.getNewTalk()
    }
  },
  methods: {
    async getNewTalk () {
      this.randomTalk = null
      try {
        if (!this.conferences) {
          const conferencesResponse = await axios.get('https://api.media.ccc.de/public/conferences')
          this.conferences = conferencesResponse.data.conferences
          storage.setItem('conferences', JSON.stringify({
            data: conferencesResponse.data.conferences,
            saved: Date.now()
          }))
        }
        const conferences = this.conferences
        const randomConferenceIndex = Math.floor(Math.random() * conferences.length)
        const randomConference = conferences[randomConferenceIndex]
        this.randomConference = randomConference
        storage.setItem('randomConference', JSON.stringify({
          data: randomConference,
          saved: Date.now()
        }))
        let talks = null
        const conferenceDataRaw = storage.getItem(`conference-${randomConference.acronym}`)
        if (!conferenceDataRaw) {
          const talksResponse = await axios.get(`https://api.media.ccc.de/public/conferences/${randomConference.acronym}`)
          talks = talksResponse.data.events
          storage.setItem(`conference-${randomConference.acronym}`, JSON.stringify({
            talks,
            saved: Date.now()
          }))
        } else {
          talks = JSON.parse(conferenceDataRaw).talks
        }
        const randomTalkIndex = Math.floor(Math.random() * talks.length)
        const randomTalk = talks[randomTalkIndex]
        const talkDataRaw = storage.getItem(`talk-${randomTalk.url}`)
        let recordings = null
        if (!talkDataRaw) {
          const recordingsResponse = await axios.get(randomTalk.url)
          recordings = recordingsResponse.data.recordings
          storage.setItem(`talk-${randomTalk.url}`, JSON.stringify({
            data: recordingsResponse.data,
            saved: Date.now()
          }))
        } else {
          recordings = JSON.parse(talkDataRaw).data.recordings
        }
        randomTalk.minutes = Math.round(randomTalk.length / 60)
        const mp3 = recordings.find(rec => rec.mime_type === 'audio/mpeg')
        const opus = recordings.find(rec => rec.mime_type === 'audio/opus')
        const webm = recordings.find(rec => rec.mime_type === 'video/webm')
        const mp4 = recordings.find(rec => rec.mime_type === 'video/mp4')
        if (webm || mp4) {
          randomTalk.video = { webm, mp4 }
        }
        if (mp3 || opus) {
          randomTalk.audio = { mp3, opus }
        }
        storage.setItem('randomTalk', JSON.stringify({
          data: randomTalk,
          saved: Date.now()
        }))
        this.randomTalk = randomTalk
      } catch (err) {
        console.error(err)
        this.randomTalk = null
        this.responseError = err
      }
    }
  }
}
</script>
