// app global css

h1
    font-size: 2.5em
    line-height: 1.15em
    letter-spacing: initial
    font-weight: 300
    margin-top: .7em
    margin-bottom: .3em

h2
    font-size: 2.1em
    line-height: 1.15em
    letter-spacing: initial
    font-weight: 300
    margin-top: 0

h3
    font-size: 1.5em
    line-height: 1.15em
    letter-spacing: initial
    font-weight: 300
    margin-bottom: .2em
    margin-top: 1em

h4
    font-size: 1.1em
    line-height: 1.15em
    letter-spacing: initial
    font-weight: bold
    margin-bottom: .3em
    margin-top: 1em

.reload-button
    background-color: #255795
    color: white
    width: 5em
    overflow: hidden
    border-radius: 5em
    border: none
    height: 5em
    overflow-wrap: unset

.reload-button-container
    position: fixed
    right: 2em
    bottom: 2em

.info-table th
    padding-right: .5em

.talk-description
    margin-top: 1em
    font-size: 1.1em

video
    width: 350px
    max-width: 100%

video.expanded
    width: 100%

audio
    width: 350px
    max-width: 100%

.pre-wrap
    white-space: pre-wrap

.ps-1
    padding-left: 1em
    padding-right: 1em

table
    border-spacing: 0

p
    max-width: 60em

button
    cursor: pointer
